.vscode
.idea
cmake-build-debug
CMakeLists.txt
toolchains/*
!toolchains/README.md
software/random_res
sims/verilator/run_prog/single.log
sims/verilator/run_prog/output
sims/verilator/run_prog/obj_dir/*
sims/verilator/run_prog/log
sims/verilator/run_prog/tmp/mem_trace.txt
sims/verilator/run_prog/tmp/ram.dat
sims/verilator/run_prog/tmp/rom.vlog
sims/verilator/run_prog/tmp/simu_trace.txt
sims/verilator/run_prog/tmp/uart_output.txt
sims/verilator/run_prog/tmp/uart_output.txt.real
sims/verilator/run_prog/tmp/logs/simu_trace.fst
sims/verilator/run_prog/tmp/logs/simu_trace.fst.hier
sims/verilator/run_prog/log/coremark_log/simu_trace.fst
sims/verilator/run_prog/log/coremark_log/simu_trace.txt
sims/verilator/run_prog/log/func/func_lab3_log/mem_trace.txt
sims/verilator/run_prog/log/func/func_lab3_log/simu_trace.fst
sims/verilator/run_prog/log/func/func_lab3_log/simu_trace.txt
sims/verilator/run_prog/log/func/func_lab3_log/uart_output.txt
sims/verilator/run_prog/log/func/func_lab3_log/uart_output.txt.real
sims/verilator/run_prog/log/func/func_lab6_log/simu_trace.txt
sims/verilator/run_prog/log/func/func_lab6_log/uart_output.txt
sims/verilator/run_prog/obj/func/func_lab3_obj/obj/data_ram.coe
sims/verilator/run_prog/obj/func/func_lab3_obj/obj/data_ram.mif
sims/verilator/run_prog/obj/func/func_lab3_obj/obj/inst_ram.coe
sims/verilator/run_prog/obj/func/func_lab3_obj/obj/inst_ram.mif
sims/verilator/run_prog/obj/func/func_lab3_obj/obj/rom.vlog
sims/verilator/run_prog/obj/func/func_lab3_obj/obj/test.s
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h01c9ced2__0.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h01c9ced2__0.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__0__Slow.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__0__Slow.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__0.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__0.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__1__Slow.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__1__Slow.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__1.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__1.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__2__Slow.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__2__Slow.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__2.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__2.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__3.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__3.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__4.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__4.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__5.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__DepSet_h93a688e3__5.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__Slow.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top___024root__Slow.o
sims/verilator/run_prog/obj_dir/Vsimu_top___024root.h
sims/verilator/run_prog/obj_dir/Vsimu_top__ALL.a
sims/verilator/run_prog/obj_dir/Vsimu_top__Syms.o
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__0__Slow.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__0__Slow.o
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__0.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__0.o
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__1__Slow.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__1__Slow.o
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__1.cpp
sims/verilator/run_prog/obj_dir/Vsimu_top__Trace__1.o
sims/verilator/run_prog/obj_dir/Vsimu_top__verFiles.dat
sims/verilator/run_prog/obj_dir/Vsimu_top.o
sims/verilator/run_prog/config-software.mak
sims/verilator/run_prog/config.log
sims/verilator/run_prog/run
sims/verilator/run_prog/run.sh
